<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>活动列表</title>
</head>

<body>
<!--<h1 layout:fragment="head">活动列表</h1>-->
<h1 layout:fragment="leadText">活动列表</h1>
<p layout:fragment="leadMessage">有效活动列表</p>
<div th:unless='${eventsPage.getRecords().isEmpty()}' layout:fragment="content">

    <nav>
        <!--    上翻页-->
        <ul class='pagination'>
            <li th:class="${eventsPage.getCurrent() == 1}?'page-item disabled' : 'page-item'">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()-1}}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class='page-item' th:if="${eventsPage.getCurrent()-2 >= 1}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()-2}}"
                   th:text="${eventsPage.getCurrent()-2}">
                </a>
            </li>
            <li class='page-item' th:if="${eventsPage.getCurrent()-1 >= 1}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()-1}}"
                   th:text="${eventsPage.getCurrent()-1}">
                </a>
            </li>
            <li class="page-item active">
                <a class='page-link' href="#"
                   th:text="${eventsPage.getCurrent()}">
                </a>
            </li>

            <li class='page-item' th:if="${eventsPage.getCurrent()+1 <= eventsPage.getPages()}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()+1}}"
                   th:text="${eventsPage.getCurrent()+1}">
                </a>
            </li>
            <li class='page-item' th:if="${eventsPage.getCurrent()+2 <= eventsPage.getPages()}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()+2}}"
                   th:text="${eventsPage.getCurrent()+2}">
                </a>
            </li>
            <li th:class="${eventsPage.getCurrent() == eventsPage.getPages()}?'page-item disabled' : 'page-item'">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()+1}}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <table id="table">
        <thead>
        <tr>
            <th data-field="number" data-sortable="true">序号</th>
            <th data-field="title" data-sortable="true">活动标题</th>
            <th data-field="date" data-sortable="true">活动日期</th>
            <th data-field="time" data-sortable="true">活动时间</th>
            <th data-field="place" data-sortable="true">活动地点</th>
            <th data-formatter="actionFormatter" data-events="operateEvents">操作</th>
        </tr>
        </thead>
    </table>


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">确认删除？</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    注意：删除后将无法复原！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="deleteEvent()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let eventList = [[${eventsPage.getRecords()}]]
        let eventId
        $(function () {
            let $table = $('#table')
            let data = []
            for (i in eventList) {
                let event = eventList[i]
                data.push({
                    number: i,
                    title: event.title,
                    date: event.eventDate,
                    time: event.eventTime,
                    place: event.location
                })
            }
            $table.bootstrapTable({data: data})
        })

        function actionFormatter(value, row, index) {
            return [
                // '<a class="detail" href="javascript:void(0)" title="查看">',
                // '<i class="fas fa-eye"></i>',
                // '</a>  ',
                '<a class="edit" href="javascript:void(0)" title="编辑">',
                '<i class="fas fa-edit"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="删除">',
                '<i class="fas fa-trash"></i>',
                '</a>'
            ].join('')
        }

        function deleteEvent() {
            location.href = '/admin/events/list?page=1'
            $.ajax({
                type: 'GET',
                url: '/admin/events/delete',
                data: {eventid: eventId},
                success: function () {
                    alert('你删除了活动')
                },
                error: function () {
                    alert('删除失败')
                }
            })
        }

        window.operateEvents = {
            // 'click .detail': function (e, value, row, index) {
            //     alert('You click detail action, row: ' + JSON.stringify(row))
            // },
            'click .edit': function (e, value, row, index) {
                // alert('You click edit action, row: ' + JSON.stringify(row))
                eventId = eventList[row.number].eventid
                location.href = '/admin/events/edit?eventid=' + eventId
            },
            'click .remove': function (e, value, row, index) {
                eventId = eventList[row.number].eventid
                $('#confirmModal').modal('show')
            }
        }
    </script>

    <nav>
        <!--    下翻页-->
        <ul class='pagination'>
            <li th:class="${eventsPage.getCurrent() == 1}?'page-item disabled' : 'page-item'">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()-1}}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class='page-item' th:if="${eventsPage.getCurrent()-2 >= 1}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()-2}}"
                   th:text="${eventsPage.getCurrent()-2}">
                </a>
            </li>
            <li class='page-item' th:if="${eventsPage.getCurrent()-1 >= 1}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()-1}}"
                   th:text="${eventsPage.getCurrent()-1}">
                </a>
            </li>
            <li class="page-item active">
                <a class='page-link' href="#"
                   th:text="${eventsPage.getCurrent()}">
                </a>
            </li>

            <li class='page-item' th:if="${eventsPage.getCurrent()+1 <= eventsPage.getPages()}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()+1}}"
                   th:text="${eventsPage.getCurrent()+1}">
                </a>
            </li>
            <li class='page-item' th:if="${eventsPage.getCurrent()+2 <= eventsPage.getPages()}">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()+2}}"
                   th:text="${eventsPage.getCurrent()+2}">
                </a>
            </li>
            <li th:class="${eventsPage.getCurrent() == eventsPage.getPages()}?'page-item disabled' : 'page-item'">
                <a class='page-link'
                   th:href="@{'/admin/events/list?page=' + ${eventsPage.getCurrent()+1}}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <br>
</div>


</body>
